<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
<!--    <style>-->
<!--        table {-->
<!--            width: 100%;-->
<!--            border-collapse: collapse;-->
<!--        }-->
<!--        th, td {-->
<!--            border: 1px solid #ddd;-->
<!--            padding: 8px;-->
<!--        }-->
<!--        th {-->
<!--            background-color: #f2f2f2;-->
<!--            text-align: left;-->
<!--        }-->
<!--    </style>-->

<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            margin: 20px;-->
<!--            text-align: center;-->
<!--        }-->
<!--        table {-->
<!--            width: 80%;-->
<!--            margin: auto;-->
<!--            border-collapse: collapse;-->
<!--        }-->
<!--        th, td {-->
<!--            padding: 10px;-->
<!--            border: 1px solid #ddd;-->
<!--        }-->
<!--        th {-->
<!--            background-color: #f4f4f4;-->
<!--        }-->
<!--    </style>-->

<!--    <style>-->
<!--        a.button {-->
<!--            display: inline-block;-->
<!--            padding: 10px 20px;-->
<!--            background-color: #4CAF50;-->
<!--            color: white;-->
<!--            text-decoration: none; /* Удаляем подчеркивание */-->
<!--            border: none;-->
<!--            border-radius: 5px;-->
<!--            cursor: pointer;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.age}"></td>
            </tr>
        </tbody>
    </table>
        <div>
            <a th:href="@{/deleteUser}" class="button">Go to DELETE</a>
        </div>
        <div>
            <a th:href="@{/updateUser}" class="button">Go to UPDATE</a>
        </div>
        <div>
            <a th:href="@{/addUser}" class="button">Go to ADD</a>
        </div>
</body>
</html>